{{#if this.create_manager_card}}
  <ol>
    <li data-id="{{this.employee.manager_id}}">
      <div class="handler"></div>
      <ol>
        <EmployeeCard @employee={{employee}}></EmployeeCard>
      </ol>
    </li>
  </ol>
{{else}}
  <ol>
    <EmployeeCard @employee={{employee}}></EmployeeCard>
  </ol>
{{/if}}
