<li class="employee-card" data-id="{{this.employee.id}}">
  <div class="row">
    <div class="level-ajustable col-md-4">
      <div class="col-md-4">
        <img class="avatar"
          src="data:image/jpeg;base64,{{this.employee.picture}}"
          alt="Employee Picture"
        />
      </div>
      <div class="col-md-8">
        <p>{{this.employee.name}}</p>
        <p>{{this.employee.email}}</p>
      </div>
    </div>
    <div class="col-md-4 phone">
      <p>{{this.employee.phone}}</p>
      <p>{{this.employee.mobile}}</p>
    </div>
  </div>
</li>
