
img.avatar {
  border-radius: 50%;
  width: 80%;
}

li.employee-card {
  padding: 10px 0px 10px 0px;
  background-color: rgba(202, 204, 206, 0.2);
  border-radius: 10px;
  margin: 10px 0;
  cursor: grab;

  :active, .ui-sortable-helper:hover {
    cursor: grabbing;
  }
}

ol {
  list-style-type: none;
}

div {
  .row {
    // float: none;
    // margin: 0 auto;
  }

  .phone {
    text-align: right;
  }

  .col-md-3 {
    img.avatar {
      width: 100%;
    }
  }
}
@import 'bootstrap';
