<ListFilter
 @filter={{action "filterEmployees"}}
as |filteredResults|
>
<!-- TODO add handler for empty search results -->
  <EmployeesTree @employees={{filteredResults}}></EmployeesTree>

</ListFilter>

  <!-- TODO show more when scrolling. -->
{{outlet}}
